// Colors
$dark-cyan: hsl(158, 36%, 37%);
$darker-cyan: hsl(156, 42%, 18%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);


// Font size
$fs-main: 14px; 
$fs-p: 1.3rem;
$fs-h1: 2.9999rem;

// Font family
$fm-100: 'Montserrat'; //500, 700
$fm-200: 'Fraunces'; //700

// Border radius
$radius-100: 1rem;
$radius-200: .8rem;

// Misc
@mixin mq-laptop {
    @media only screen and (min-width: 750px) {
        @content;
    }
}